<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="#">Hi {{this.user.username}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" (click)="this.onClick()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Of Birth</th>
                <th>Phone Number</th>
                <th>Current Time</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.user.username}}</td>
                <td>{{this.user.dateOfBirth}}</td>
                <td>{{this.user.phoneNumber}}</td>
                <td>{{this.today}}</td>
                <td>{{this.user.addr1 +" "+ this.user.addr2 +" "+ this.user.addr3 +" "+ this.user.postalCode}}</td>
            </tr>
        </tbody>
    </table>
</div>